This is the implementation of ATBD approach 1. Users need to read and run `Transient_base.ipynb` before reading and runing this notebook.

In approach 1, InSAR and GNSS relative measurements are compared directly. The number of GNSS pairs which meet the mission requirement as a percentage of the total number of GNSS pairs are calculated.

In [1]:
import numpy as np
import pickle
from pathlib import Path
import pandas as pd

In [2]:
calval_dir = Path.cwd()/'calval'
calval_location = 'central_valley'
work_dir = calval_dir/calval_location

In [3]:
with open(work_dir/'approach1.pkl','rb') as f:
    dist, rel_measure, ifgs_date = pickle.load(f)

In [4]:
n_ifgs = len(dist)

In [5]:
n_bins = 10
bins = np.linspace(0.1,50.0,num=n_bins+1)

In [6]:
n_all = np.empty([n_ifgs,n_bins+1],dtype=int) # number of points for each ifgs and bins
n_pass = np.empty([n_ifgs,n_bins+1],dtype=int) # number of points pass
#ratio = np.empty([n_ifgs,n_bins+1]) # ratio
# the final column is the ratio as a whole
for i in range(n_ifgs):
    inds = np.digitize(dist[i],bins)
    for j in range(1,n_bins+1):
        rqmt = 3*(1+np.sqrt(dist[i][inds==j]))# mission requirement for i-th ifgs and j-th bins
        rem = rel_measure[i][inds==j] # relative measurement
        assert len(rqmt) == len(rem)
        n_all[i,j-1] = len(rem)
        n_pass[i,j-1] = np.count_nonzero(rem<rqmt)
    n_all[i,-1] = np.sum(n_all[i,0:-2])
    n_pass[i,-1] = np.sum(n_pass[i,0:-2])

In [7]:
def to_str(x:bool):
    if x==True:
        return 'true '
    elif x==False:
        return 'false '

In [8]:
ratio = n_pass/n_all
thresthod = 0.683 
#The assumed nature of Gaussian distribution gives a probability of 0.683 of being within one standard deviation.
success_or_fail = ratio>thresthod
success_or_fail_str = [list(map(to_str, x)) for x in success_or_fail]

In [9]:
columns = []
for i in range(n_bins):
    columns.append(f'{bins[i]:.2f}-{bins[i+1]:.2f}')
columns.append('total')

In [10]:
index = []
for i in range(len(ifgs_date)):
    index.append(ifgs_date[i,0].strftime('%Y%m%d')+'-'+ifgs_date[i,1].strftime('%Y%m%d'))

In [11]:
n_all_pd = pd.DataFrame(n_all,columns=columns,index=index)
n_pass_pd = pd.DataFrame(n_pass,columns=columns,index=index)
ratio_pd = pd.DataFrame(ratio,columns=columns,index=index)
success_or_fail_pd = pd.DataFrame(success_or_fail_str,columns=columns,index=index)

Number of data points in each bin:

In [12]:
n_all_pd

,0.10-5.09,5.09-10.08,10.08-15.07,15.07-20.06,20.06-25.05,25.05-30.04,30.04-35.03,35.03-40.02,40.02-45.01,45.01-50.00,total
20170108-20170120,42,92,102,121,120,119,136,121,106,102,959
20170114-20170126,43,92,103,124,118,125,138,129,113,107,985
20170120-20170201,39,91,101,120,114,119,125,121,109,98,939
20170225-20170309,46,88,100,124,118,122,139,141,120,109,998
20170321-20170402,42,92,102,125,122,127,142,143,119,110,1014
20170414-20170426,43,93,103,127,124,129,144,147,121,113,1031
20170508-20170520,49,101,107,135,127,134,151,151,125,113,1080
20170601-20170613,47,93,103,128,123,129,145,147,122,112,1037
20170625-20170707,47,93,103,128,123,129,145,147,122,112,1037
20170719-20170731,42,86,98,118,111,110,132,128,106,90,931
20170812-20170824,37,73,97,112,110,105,122,121,98,86,875
20170905-20170917,46,92,101,125,121,126,144,147,120,111,1022
20170929-20171011,47,93,103,128,123,128,145,146,117,112,1030
20171023-20171104,42,92,103,125,121,129,143,147,120,110,1022
20171116-20171128,41,88,98,120,113,114,130,127,109,102,940
20171210-20171222,41,87,98,119,113,112,130,118,99,89,917
20180103-20180115,41,88,98,120,113,114,130,127,109,102,940
20180127-20180208,49,102,107,135,127,134,151,152,126,113,1083
20180220-20180304,48,98,104,131,122,127,144,147,125,110,1046
20180316-20180328,47,102,107,134,127,134,150,152,125,112,1078
20180409-20180421,48,97,104,130,122,125,144,136,115,97,1021
20180503-20180515,43,95,100,115,108,115,131,127,115,100,949
20180527-20180608,44,97,104,129,122,125,143,136,113,96,1013
20180620-20180702,47,93,103,128,123,129,145,147,122,112,1037
20180807-20180819,45,83,97,119,117,119,142,143,117,107,982
20180831-20180912,39,77,91,112,110,106,130,130,110,102,905
20180924-20181006,41,85,95,116,115,113,132,132,113,104,942
20181018-20181030,42,90,98,120,118,118,136,133,105,94,960
20181111-20181123,41,85,94,107,106,109,129,126,113,102,910
20181205-20181217,40,89,97,119,120,120,137,137,113,106,972
20181229-20190110,40,85,96,117,114,113,132,132,114,104,943
20190122-20190203,30,85,92,116,109,105,118,112,97,90,864
20190215-20190227,36,92,98,119,108,106,123,110,95,87,887
20190311-20190323,40,95,101,126,118,116,131,128,112,104,967
20190404-20190416,40,95,101,126,118,116,131,128,112,105,967
20190428-20190510,44,95,101,127,118,116,132,128,114,105,975
20190522-20190603,39,94,98,127,121,126,139,137,119,109,1000
20190615-20190627,40,96,102,127,121,121,137,138,113,107,995
20190709-20190721,44,96,102,128,122,122,138,139,120,110,1011
20190802-20190814,41,100,104,127,127,129,143,142,118,111,1031
20190826-20190907,44,96,102,123,122,122,137,137,119,109,1002
20190919-20191001,30,88,94,115,113,109,120,122,103,99,894
20191013-20191025,39,95,100,120,117,113,128,123,107,102,942
20191106-20191118,44,96,102,128,122,122,137,139,119,109,1009
20191212-20191224,34,93,95,121,115,116,129,124,111,104,938
20200105-20200117,39,76,81,113,105,108,122,121,98,95,863
20200129-20200210,44,96,102,128,122,122,137,139,119,109,1009
20200222-20200305,41,95,102,128,120,121,137,143,119,113,1006
20210628-20210710,25,33,37,68,66,56,70,89,64,72,508

Number of data points that below the curve:

In [13]:
n_pass_pd

,0.10-5.09,5.09-10.08,10.08-15.07,15.07-20.06,20.06-25.05,25.05-30.04,30.04-35.03,35.03-40.02,40.02-45.01,45.01-50.00,total
20170108-20170120,26,58,87,107,110,104,126,112,97,93,827
20170114-20170126,41,81,92,118,117,121,137,129,109,101,945
20170120-20170201,30,63,82,94,101,106,107,105,94,88,782
20170225-20170309,38,72,83,93,94,106,118,116,95,70,815
20170321-20170402,35,53,65,67,67,77,67,67,62,56,560
20170414-20170426,39,73,80,100,84,83,80,96,83,75,718
20170508-20170520,42,83,90,119,115,128,143,144,115,100,979
20170601-20170613,44,79,95,122,119,126,144,147,118,106,994
20170625-20170707,43,69,80,98,93,93,119,113,84,70,792
20170719-20170731,38,82,81,90,79,82,102,100,79,67,733
20170812-20170824,34,68,91,104,108,100,121,120,95,83,841
20170905-20170917,36,52,68,98,85,93,99,89,65,53,685
20170929-20171011,45,88,93,115,108,109,127,127,111,107,923
20171023-20171104,37,75,86,106,109,115,129,132,108,103,897
20171116-20171128,40,83,89,103,98,97,119,122,104,96,855
20171210-20171222,38,87,89,111,109,110,129,114,97,88,884
20180103-20180115,36,69,73,82,82,87,91,96,88,75,704
20180127-20180208,48,96,105,129,122,128,149,150,122,110,1049
20180220-20180304,43,96,102,130,122,125,143,145,124,109,1030
20180316-20180328,35,80,97,124,121,127,139,145,117,112,985
20180409-20180421,45,93,102,128,121,124,144,132,108,90,997
20180503-20180515,41,95,100,114,108,114,127,125,110,96,934
20180527-20180608,40,87,89,97,88,98,112,101,84,61,796
20180620-20180702,43,92,101,126,116,112,124,111,95,90,920
20180807-20180819,42,79,95,116,116,115,135,134,111,98,943
20180831-20180912,30,46,54,63,63,72,91,71,65,46,555
20180924-20181006,33,60,70,94,94,94,113,108,89,79,755
20181018-20181030,39,87,96,120,118,117,135,132,104,90,948
20181111-20181123,35,60,73,88,78,83,102,96,90,80,705
20181205-20181217,29,53,66,74,94,100,122,115,96,93,749
20181229-20190110,36,74,83,104,102,100,116,111,95,81,821
20190122-20190203,19,64,65,77,69,77,86,85,79,67,621
20190215-20190227,25,67,66,74,62,58,43,45,37,35,477
20190311-20190323,24,64,83,102,89,79,93,92,75,69,701
20190404-20190416,37,89,85,116,108,109,130,124,108,104,906
20190428-20190510,32,76,70,66,66,75,81,63,65,46,594
20190522-20190603,34,78,85,107,108,115,125,125,108,100,885
20190615-20190627,37,84,82,96,95,93,99,97,75,78,758
20190709-20190721,41,96,87,93,89,95,111,109,98,82,819
20190802-20190814,40,86,91,113,112,118,126,121,97,80,904
20190826-20190907,40,80,90,94,97,109,124,102,88,62,824
20190919-20191001,17,57,60,66,62,69,76,78,68,65,553
20191013-20191025,39,95,100,120,117,113,128,122,107,101,941
20191106-20191118,44,94,101,128,122,121,137,139,119,109,1005
20191212-20191224,24,76,78,105,96,104,116,109,96,86,804
20200105-20200117,34,60,68,90,84,80,80,69,44,45,609
20200129-20200210,30,74,78,108,102,103,108,108,92,75,803
20200222-20200305,30,77,83,114,106,109,127,140,114,110,900
20210628-20210710,22,29,33,58,51,42,46,67,48,47,396

Percentage of pass:

In [14]:
s = ratio_pd.style
s.set_table_styles([  # create internal CSS classes
    {'selector': '.true', 'props': 'background-color: #e6ffe6;'},
    {'selector': '.false', 'props': 'background-color: #ffe6e6;'},
], overwrite=False)
s.set_td_classes(success_or_fail_pd)

Percentage of interferograms passes the requirement (thresthod = 0.683):

In [15]:
np.count_nonzero(ratio_pd['total']>thresthod)/n_ifgs

0.8775510204081632