In [1]:
import numpy as np
import pickle
from pathlib import Path
import pandas as pd

In [2]:
calval_dir = Path.cwd()/'calval'
calval_location = 'central_valley'
work_dir = calval_dir/calval_location

In [3]:
with open(work_dir/'approach2.pkl','rb') as f:
    dist,rel_measure, ifgs_date = pickle.load(f)

In [4]:
n_ifgs = len(dist)

In [5]:
n_bins = 10
bins = np.linspace(0.1,50.0,num=n_bins+1)

In [6]:
n_all = np.empty([n_ifgs,n_bins+1],dtype=int) # number of points for each ifgs and bins
n_pass = np.empty([n_ifgs,n_bins+1],dtype=int) # number of points pass
#ratio = np.empty([n_ifgs,n_bins+1]) # ratio
# the final column is the ratio as a whole
for i in range(n_ifgs):
    inds = np.digitize(dist[i],bins)
    for j in range(1,n_bins+1):
        rqmt = 3*(1+np.sqrt(dist[i][inds==j]))# mission requirement for i-th ifgs and j-th bins
        rem = rel_measure[i][inds==j] # relative measurement
        assert len(rqmt) == len(rem)
        n_all[i,j-1] = len(rem)
        n_pass[i,j-1] = np.count_nonzero(rem<rqmt)
    n_all[i,-1] = np.sum(n_all[i,0:-2])
    n_pass[i,-1] = np.sum(n_pass[i,0:-2])

In [7]:
def to_str(x:bool):
    if x==True:
        return 'true '
    elif x==False:
        return 'false '

In [8]:
ratio = n_pass/n_all
thresthod = 0.683
#The assumed nature of Gaussian distribution gives a probability of 0.683 of being within one standard deviation.
success_or_fail = ratio>thresthod
success_or_fail_str = [list(map(to_str, x)) for x in success_or_fail]

In [9]:
columns = []
for i in range(n_bins):
    columns.append(f'{bins[i]:.2f}-{bins[i+1]:.2f}')
columns.append('total')

In [10]:
index = []
for i in range(len(ifgs_date)):
    index.append(ifgs_date[i,0].strftime('%Y%m%d')+'-'+ifgs_date[i,1].strftime('%Y%m%d'))

In [11]:
n_all_pd = pd.DataFrame(n_all,columns=columns,index=index)
n_pass_pd = pd.DataFrame(n_pass,columns=columns,index=index)
ratio_pd = pd.DataFrame(ratio,columns=columns,index=index)
success_or_fail_pd = pd.DataFrame(success_or_fail_str,columns=columns,index=index)

Number of data points in each bin:

In [12]:
n_all_pd

,0.10-5.09,5.09-10.08,10.08-15.07,15.07-20.06,20.06-25.05,25.05-30.04,30.04-35.03,35.03-40.02,40.02-45.01,45.01-50.00,total
20170108-20170120,1663,4694,7147,9436,11369,12927,14437,15641,16698,17631,94012
20170114-20170126,1653,4708,7320,9687,11772,13624,15118,16530,17736,18445,98148
20170120-20170201,1646,4639,7422,9929,11897,13650,15121,16296,17399,18409,97999
20170225-20170309,1707,4694,7268,9574,11579,13501,15354,16399,17562,18378,97638
20170321-20170402,1634,4578,7333,9658,11807,13387,15219,16519,17508,18082,97643
20170414-20170426,1634,4654,7167,9442,11587,13245,14745,16078,17093,18083,95645
20170508-20170520,1658,4622,7371,9633,11703,13352,14866,15918,17360,18420,96483
20170601-20170613,1674,4642,7221,9541,11633,13715,15117,16636,17658,18373,97837
20170625-20170707,1674,4571,7097,9498,11373,13524,14786,15927,17175,18069,95625
20170719-20170731,1708,4722,7395,9772,11995,14183,15693,16915,18098,18909,100481
20170812-20170824,1657,4581,7289,9735,11618,13370,14937,16281,17226,18236,96694
20170905-20170917,1649,4646,7283,9596,11470,13401,14926,16072,17546,18166,96589
20170929-20171011,1652,4600,7401,9903,11929,13796,15518,16515,17500,18396,98814
20171023-20171104,1617,4758,7422,9991,11937,13749,15237,16491,17523,18068,98725
20171116-20171128,1698,4548,7124,9709,11745,13599,15054,16049,17188,18213,96714
20171210-20171222,1640,4619,7358,9511,11631,13501,14788,16215,17374,18063,96637
20180103-20180115,1708,4631,7296,9711,11823,13790,15220,16901,17636,18754,98716
20180127-20180208,1628,4589,7294,9693,11691,13579,15218,16658,17636,18332,97986
20180220-20180304,1697,4615,7274,9787,11780,13402,15509,17050,17865,18668,98979
20180316-20180328,1711,4528,7141,9564,11696,13778,15421,16479,17205,18353,97523
20180409-20180421,1672,4654,7326,9824,11912,13806,15345,16643,17707,18489,98889
20180503-20180515,1650,4486,7000,9454,11584,13161,14888,16431,17273,18189,95927
20180527-20180608,1580,4583,7119,9304,11456,13144,14667,16082,17045,17856,94980
20180620-20180702,1671,4726,7609,10112,12417,14154,15759,17136,17956,18673,101540
20180807-20180819,1675,4586,7448,9898,12157,14144,15859,17282,18394,19375,101443
20180831-20180912,1684,4651,7432,9953,11677,13983,15674,16909,17746,18506,99709
20180924-20181006,1656,4524,7299,9622,11635,13438,14883,16471,17534,18176,97062
20181018-20181030,1672,4508,7316,9713,11725,13692,14842,16377,17332,18123,97177
20181111-20181123,1621,4519,7184,9503,11521,13434,14701,15957,17115,17784,95555
20181205-20181217,1607,4739,7220,9567,11661,13429,15362,16795,18018,18753,98398
20181229-20190110,1638,4594,7300,9588,12129,13820,15193,16876,17673,18675,98811
20190122-20190203,1714,4525,6921,9336,11250,12998,14432,15492,16628,17680,93296
20190215-20190227,1593,4526,7231,9408,11579,13634,14889,16427,17385,18493,96672
20190311-20190323,1535,4563,7272,9518,11857,13405,14986,16308,17393,18270,96837
20190404-20190416,1565,4646,7345,9626,11663,13543,15111,16332,17363,18245,97194
20190428-20190510,1663,4546,7467,9621,11712,13331,14873,16251,17132,17897,96596
20190522-20190603,1706,4620,7189,9321,11616,13289,15223,16649,17508,18686,97121
20190615-20190627,1687,4543,7194,9267,11235,13130,14750,15961,16901,18305,94668
20190709-20190721,1683,4573,7321,9833,12013,13799,15541,16902,17636,18584,99301
20190802-20190814,1719,4608,7311,9704,11934,13988,15524,16844,17841,18481,99473
20190826-20190907,1656,4561,7353,9808,11743,13765,15227,16550,17716,18336,98379
20190919-20191001,1594,4493,7126,9528,11410,13333,14538,15786,16706,17716,94514
20191013-20191025,1663,4421,7086,9306,11610,13258,14745,16098,17152,17930,95339
20191106-20191118,1681,4658,7279,9648,11592,13352,15142,16822,17560,18654,97734
20191212-20191224,1605,4702,7340,9573,11670,13359,14867,16268,17907,18301,97291
20200105-20200117,1717,4761,7381,9841,11920,13765,15308,16475,17517,18715,98685
20200129-20200210,1664,4714,7255,9519,11688,13500,15100,16636,17688,18495,97764
20200222-20200305,1680,4509,7420,9681,11951,13508,15551,16405,17845,18709,98550
20210628-20210710,1633,4551,7222,9517,12010,13767,15580,16871,18090,18750,99241

Number of data points that below the curve:

In [13]:
n_pass_pd

,0.10-5.09,5.09-10.08,10.08-15.07,15.07-20.06,20.06-25.05,25.05-30.04,30.04-35.03,35.03-40.02,40.02-45.01,45.01-50.00,total
20170108-20170120,1316,3794,5990,8027,9745,11159,12554,13702,14695,15569,80982
20170114-20170126,1475,4191,6579,8843,10865,12636,14039,15363,16506,17259,90497
20170120-20170201,1363,3783,6085,8146,9757,11255,12458,13479,14356,15086,80682
20170225-20170309,1532,4258,6514,8527,10200,11884,13440,14256,15339,15910,85950
20170321-20170402,1293,3212,4756,6005,6952,7470,8168,8671,9009,9370,55536
20170414-20170426,1579,4429,6729,8676,10359,11259,11983,12217,12238,11793,79469
20170508-20170520,1532,4244,6781,8954,10831,12462,13776,14907,16269,17191,89756
20170601-20170613,1567,4244,6650,8750,10611,12475,13607,14908,15676,16281,88488
20170625-20170707,1525,3972,5860,7607,8768,10274,11001,11567,12640,13409,73214
20170719-20170731,1603,4219,6311,8088,9618,11200,12062,12541,13123,13474,78765
20170812-20170824,1532,3991,6131,7831,9267,10533,11516,12364,13140,13714,76305
20170905-20170917,1446,3786,5596,7101,7954,9002,9669,9955,10498,10393,65007
20170929-20171011,1630,4491,7129,9464,11345,13021,14614,15563,16446,17380,93703
20171023-20171104,1426,4050,6172,8340,9995,11516,12770,13832,14710,15243,82811
20171116-20171128,1513,3903,5983,8233,10039,11787,12941,13899,15064,15824,83362
20171210-20171222,1618,4503,7152,9124,11172,12956,14173,15567,16596,17161,92861
20180103-20180115,1670,4491,7026,9324,11299,13097,14319,15949,16599,17517,93774
20180127-20180208,1533,4259,6739,8876,10733,12423,13953,15241,15980,16486,89737
20180220-20180304,1517,4135,6582,8946,10812,12408,14387,15898,16621,17375,91306
20180316-20180328,1556,4175,6632,8985,10928,12928,14375,15368,16022,17060,90969
20180409-20180421,1609,4460,6848,8945,10585,11987,13057,13819,14269,14662,85579
20180503-20180515,1554,4297,6719,9073,11184,12635,14344,15833,16682,17522,92321
20180527-20180608,1447,4076,6104,7710,9264,10256,10948,11634,11987,12227,73426
20180620-20180702,1607,4500,7150,9413,11424,12958,14407,15652,16520,17058,93631
20180807-20180819,1550,4121,6641,8738,10576,12251,13673,14819,15849,16782,88218
20180831-20180912,1408,3584,5562,7164,8275,9544,10391,11138,11500,11708,68566
20180924-20181006,1441,3640,5710,7328,8649,9602,10350,11102,11689,11762,69511
20181018-20181030,1523,3961,6354,8506,10257,11922,12599,13841,14367,14797,83330
20181111-20181123,1378,3592,5560,7312,8891,10255,11025,11693,12411,12784,72117
20181205-20181217,1309,3682,5757,7804,9545,11145,12731,14056,15135,15737,81164
20181229-20190110,1549,4166,6528,8510,10616,12003,13023,14264,14928,15547,85587
20190122-20190203,1328,3483,5454,7480,9241,10958,12325,13462,14736,15833,78467
20190215-20190227,1312,3527,5499,6828,8404,9866,10665,11541,12048,12712,69690
20190311-20190323,1403,4114,6467,8302,10253,11551,12878,13920,14747,15466,83635
20190404-20190416,1389,4197,6574,8688,10612,12323,13682,14685,15803,16708,87953
20190428-20190510,1168,3145,4956,6119,7185,7925,8731,9274,9541,9894,58044
20190522-20190603,1602,4306,6675,8546,10534,11766,13127,14129,14738,15491,85423
20190615-20190627,1623,4237,6353,7838,9326,10671,11634,12191,12528,13310,76401
20190709-20190721,1576,4164,6643,8865,10731,12224,13628,14611,15202,15852,87644
20190802-20190814,1651,4289,6640,8640,10550,12239,13572,14800,15864,16663,88245
20190826-20190907,1513,3804,5859,7290,8126,8955,9146,9480,9696,9654,63869
20190919-20191001,1311,3460,5283,6872,7983,9030,9503,10060,10287,10753,63789
20191013-20191025,1636,4365,6976,9083,11232,12708,14046,15177,16128,16754,91351
20191106-20191118,1664,4605,7117,9385,11130,12766,14346,15818,16333,17268,93164
20191212-20191224,1458,4078,6031,7568,8939,9813,10614,11186,11869,11866,71556
20200105-20200117,1539,4280,6652,8783,10602,12182,13322,14161,14878,15843,86399
20200129-20200210,1426,3919,5922,7617,9315,10510,11545,12451,12907,13267,75612
20200222-20200305,1549,4059,6651,8469,10576,11811,13542,14312,15413,16063,86382
20210628-20210710,1498,4012,6177,8001,9913,11164,12334,13577,14335,14960,81011

Ratio of pass:

In [14]:
s = ratio_pd.style
s.set_table_styles([  # create internal CSS classes
    {'selector': '.true', 'props': 'background-color: #e6ffe6;'},
    {'selector': '.false', 'props': 'background-color: #ffe6e6;'},
], overwrite=False)
s.set_td_classes(success_or_fail_pd)

Percentage of interferograms passes the requirement (0.683):

In [15]:
np.count_nonzero(ratio_pd['total']>thresthod)/n_ifgs

0.8979591836734694