This is the first method of Approach 2 for Transient Requirement validation (Section 4.2.2). Users need to read and run [Transient_base.ipynb](./Transient_base.ipynb) before reading and runing this notebook.

In approach 2.1, the number of pixel pairs which meet the mission requirement as a percentage of the total number of pixel pairs selected are counted.

The first method we apply to evaluate the noise structure is similar to that in Section 4.2.1, except that the percentage of measurements that fall below the threshold curve is calculated for each of the 5-km-wide bins. If the average of the percentages from all bins is larger than 0.683, we judge that the noise level falls below the requirement.

In [1]:
import numpy as np
import pickle
from pathlib import Path
import pandas as pd

In [2]:
calval_dir = Path.cwd()/'calval'
calval_location = 'central_valley'
# calval_location = 'texas'
# calval_location = 'oklahoma'
# calval_location = 'purtorico'
work_dir = calval_dir/calval_location

In [3]:
with open(work_dir/'approach2.pkl','rb') as f:
    dist,rel_measure, ifgs_date = pickle.load(f)

In [4]:
n_ifgs = len(dist)

In [5]:
n_bins = 10
bins = np.linspace(0.1,50.0,num=n_bins+1)

In [6]:
n_all = np.empty([n_ifgs,n_bins+1],dtype=int) # number of points for each ifgs and bins
n_pass = np.empty([n_ifgs,n_bins+1],dtype=int) # number of points pass
#ratio = np.empty([n_ifgs,n_bins+1]) # ratio
# the final column is the ratio as a whole
for i in range(n_ifgs):
    inds = np.digitize(dist[i],bins)
    for j in range(1,n_bins+1):
        rqmt = 3*(1+np.sqrt(dist[i][inds==j]))# mission requirement for i-th ifgs and j-th bins
        rem = rel_measure[i][inds==j] # relative measurement
        assert len(rqmt) == len(rem)
        n_all[i,j-1] = len(rem)
        n_pass[i,j-1] = np.count_nonzero(rem<rqmt)
    n_all[i,-1] = np.sum(n_all[i,0:-2])
    n_pass[i,-1] = np.sum(n_pass[i,0:-2])

In [7]:
def to_str(x:bool):
    if x==True:
        return 'true '
    elif x==False:
        return 'false '

In [8]:
ratio = n_pass/n_all
mean_ratio = np.array([np.mean(ratio[:,:-1],axis=1)])
ratio = np.hstack((ratio,mean_ratio.T))
thresthod = 0.683
#The assumed nature of Gaussian distribution gives a probability of 0.683 of being within one standard deviation.
success_or_fail = ratio>thresthod
success_or_fail_str = [list(map(to_str, x)) for x in success_or_fail]

In [9]:
columns = []
for i in range(n_bins):
    columns.append(f'{bins[i]:.2f}-{bins[i+1]:.2f}')
columns.append('total')

In [10]:
index = []
for i in range(len(ifgs_date)):
    index.append(ifgs_date[i,0].strftime('%Y%m%d')+'-'+ifgs_date[i,1].strftime('%Y%m%d'))

In [11]:
n_all_pd = pd.DataFrame(n_all,columns=columns,index=index)
n_pass_pd = pd.DataFrame(n_pass,columns=columns,index=index)
ratio_pd = pd.DataFrame(ratio,columns=columns+['mean'],index=index)
success_or_fail_pd = pd.DataFrame(success_or_fail_str,columns=columns+['mean'],index=index)

Number of data points in each bin:

In [12]:
n_all_pd

,0.10-5.09,5.09-10.08,10.08-15.07,15.07-20.06,20.06-25.05,25.05-30.04,30.04-35.03,35.03-40.02,40.02-45.01,45.01-50.00,total
20190110-20190122,911,2660,4328,5648,7096,8494,9772,10643,11739,12428,61291
20190203-20190215,910,2704,4253,5662,7065,8481,9696,10602,11876,12541,61249
20190227-20190311,925,2606,4225,5698,7111,8487,9607,10796,11546,12477,61001
20190323-20190404,877,2644,4266,5754,7060,8487,9699,10666,11694,12564,61147
20190416-20190428,927,2610,4213,5619,7085,8481,9732,10811,11616,12467,61094
20190510-20190522,952,2703,4324,5725,7236,8357,9541,10702,11775,12668,61315
20190603-20190615,926,2621,4248,5785,7210,8601,9779,10805,11589,12539,61564
20190627-20190709,935,2612,4309,5881,7211,8611,9559,10703,11823,12561,61644
20190721-20190802,917,2607,4294,5665,7243,8460,9534,10737,11765,12491,61222
20190814-20190826,962,2586,4280,5789,7059,8545,9628,10631,11534,12493,61014
20190907-20190919,964,2677,4152,5698,7094,8419,9656,10525,11908,12669,61093
20191001-20191013,963,2677,4372,5618,7297,8545,9909,10824,11678,12730,61883
20191025-20191106,899,2631,4331,5710,7197,8597,9638,10715,11752,12631,61470
20191212-20191224,924,2623,4307,5870,7079,8512,9741,10656,11672,12500,61384
20200105-20200117,913,2586,4267,5860,7132,8350,9580,10735,11722,12446,61145
20200129-20200210,930,2693,4283,5914,7210,8409,9687,10673,11595,12452,61394
20200222-20200305,871,2663,4259,5882,7132,8466,9520,10744,11745,12683,61282
20210628-20210710,925,2722,4317,5865,7288,8565,9724,11032,11804,12509,62242

Number of data points that below the curve:

In [13]:
n_pass_pd

,0.10-5.09,5.09-10.08,10.08-15.07,15.07-20.06,20.06-25.05,25.05-30.04,30.04-35.03,35.03-40.02,40.02-45.01,45.01-50.00,total
20190110-20190122,788,2255,3702,4848,6108,7405,8589,9325,10343,10991,53363
20190203-20190215,652,1959,3228,4382,5573,6708,7712,8458,9537,10068,48209
20190227-20190311,728,1967,3185,4236,5202,6187,6868,7648,8028,8682,44049
20190323-20190404,783,2337,3677,4913,5900,7109,8004,8770,9608,10341,51101
20190416-20190428,728,1979,3153,4176,5254,6389,7227,8028,8665,9420,45599
20190510-20190522,709,2060,3271,4252,5472,6337,7379,8339,9210,10037,47029
20190603-20190615,806,2300,3554,4689,5695,6718,7339,8023,8414,8854,47538
20190627-20190709,854,2284,3607,4711,5633,6511,7141,7947,8706,9393,47394
20190721-20190802,839,2341,3723,4936,6293,7244,8302,9391,10407,11110,53476
20190814-20190826,843,2177,3390,4440,5266,6231,6866,7328,7876,8498,44417
20190907-20190919,809,2097,3100,4129,5016,5804,6584,7056,7950,8551,42545
20191001-20191013,886,2366,3794,4875,6151,7245,8268,8877,9567,10359,52029
20191025-20191106,884,2586,4273,5641,7092,8454,9422,10459,11437,12274,60248
20191212-20191224,808,2277,3578,4673,5534,6375,7081,7500,7976,8460,45802
20200105-20200117,803,2285,3783,5175,6281,7257,8325,9311,10002,10586,53222
20200129-20200210,795,2299,3664,5036,6118,7093,8194,8836,9518,10045,51553
20200222-20200305,782,2375,3697,5004,6003,6944,7772,8707,9393,10154,50677
20210628-20210710,857,2437,3690,4891,5976,6891,7819,8942,9505,10040,51008

Ratio of pass:

In [14]:
s = ratio_pd.style
s.set_table_styles([  # create internal CSS classes
    {'selector': '.true', 'props': 'background-color: #e6ffe6;'},
    {'selector': '.false', 'props': 'background-color: #ffe6e6;'},
], overwrite=False)
s.set_td_classes(success_or_fail_pd)

Percentage of interferograms passes the requirement (0.683):

In [15]:
np.count_nonzero(ratio_pd['total']>thresthod)/n_ifgs

1.0

In [16]:
np.count_nonzero(ratio_pd['mean']>thresthod)/n_ifgs

1.0